---
permalink: /404.html
layout: default
---

<style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>

  <p><strong>Página não encontrada :(</strong></p>
  <p>A página solicitada não pôde ser encontrada neste site. Por favor, verifique o endereço digitado, ou então <a href=https://cicerone.gitlab.io>clique aqui</a> para retornar à página inicial.</p>
  <p>Pedimos desculpas pelo inconveniente.</p>
</div>
